stencil-components/dist/
stencil-components/www/
stencil-components/loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
stencil-components/log.txt
*.sublime-project
*.sublime-workspace

stencil-components/.stencil/
stencil-components/.idea/
stencil-components/.vscode/
stencil-components/.sass-cache/
stencil-components/.versions/
stencil-components/node_modules/
stencil-components/$RECYCLE.BIN/

stencil-components/.DS_Store
stencil-components/Thumbs.db
stencil-components/UserInterfaceState.xcuserstate
stencil-components/.env
